In [1]:
import MySQLdb
import sys
import bz2
import pandas as pd

In [2]:
# Virtual machine IP adress
HOST            = "148.60.11.195"

## MySQL user
DB_USER         = "script2"

## MySQL password
DB_PASSWD       = "ud6cw3xNRKnrOz6H"

In [3]:
#-------------------- Get sets of identical configs and save result Dataframe ---------------------
try:
    socket = MySQLdb.connect(HOST, DB_USER, DB_PASSWD, "IrmaDB_result")
    cursor = socket.cursor()
    # firstly select the "basis" config files
    query="SELECT cid, config_file, compiled_kernel_size, compilation_time, hid FROM `compilations` where compiled_kernel_version='4.15' and (cid+200)%400=0 and cid<72000"
    cursor.execute(query)
    result= cursor.fetchall()
    result=[list(i) for i in result]
    df = pd.DataFrame()
    # For each of the previously found cid (i.e our sample), we need to find the entries 
    # which have used the same .config file
    for row in result:
        query2="SELECT cid, compiled_kernel_size, compilation_time, hid FROM compilations \
                WHERE config_file = \
                    (SELECT config_file FROM compilations WHERE cid={})\
                    and cid!={}".format(row[0], row[0])
        cursor.execute(query2)
        matches=cursor.fetchall()
        # dumb conversion tuple -> list for format issues
        matches=[list(i) for i in matches]
        for i in matches:
            i.insert(0, row[0])
        labels=[i[0] for i in cursor.description]
        labels.insert(0, 'origin_config')
        temp=pd.DataFrame(matches, columns=labels)
        df=df.append(temp)
    df.to_pickle('results2')
except Exception as e:
    print(str(e),"\n" + "Unable to connect to database", file=sys.stderr)
    exit(-1)
finally:
    cursor.close()
    socket.close()
df

   origin_config    cid compiled_kernel_size  compilation_time   hid
0          36200  73728            169540112           660.900  1992
1          36200  73729            169540696           664.788  1881
2          36200  73730            169543864           661.655  1881
3          36200  73731            169538992           671.166  1881
4          36200  73733            169542656           665.815  1966
0          36600  73732             52101632           303.995  1992
1          36600  73734             52101632           305.511  1881
2          36600  73735             52101632           305.361  1881
3          36600  73736             52101632           304.652  1881
4          36600  73737             52101632           306.548  1966
0          37000  73738             88673064           375.424  1992
1          37000  73739             88673064           369.528  1881
2          37000  73740             88673048           373.405  1881
3          37000  73741             88673000           370.950  1881
4          37000  73742             88673048           371.730  1966
0          37400  73743             82338000           300.973  1992
1          37400  73744             82338008           300.816  1881
2          37400  73745             82337992           302.409  1881
3          37400  73746             82338008           300.760  1881
4          37400  73747             82337936           302.007  1966
0          37800  73748             39694424           429.900  1992
1          37800  73749             39694424           430.892  1881
2          37800  73750             39694424           432.078  1881
3          37800  73751             39694424           429.391  1881
4          37800  73752             39694424           430.296  1966
0          38200  73753            114969464           647.836  1992
1          38200  73754            114969592           645.346  1881
2          38200  73755            114961264           652.115  1881
3          38200  73756            114969496           646.617  1881
4          38200  73757            114969528           649.490  1966
..           ...    ...                  ...               ...   ...
0          59000  74013             94471552           345.039  1881
1          59000  74014             94471552           344.292  1881
2          59000  74015             94471552           345.011  1992
3          59000  74016             94471552           345.470  1966
4          59000  74017             94471552           345.993  1881
0          59400  74018            133308064           333.148  1881
1          59400  74019            133308064           332.587  1881
2          59400  74020            133308064           331.245  1992
3          59400  74021            133308064           332.329  1966
4          59400  74024            133308064           332.276  1881
0          59800  74022             99092768           331.695  1881
1          59800  74023             99092800           326.007  1881
2          59800  74025             99093432           331.795  1992
3          59800  74026             99092888           328.073  1966
4          59800  74029             99093432           327.382  1881
0          60200  74027             31468008           341.456  1881
1          60200  74028             31468088           339.567  1881
2          60200  74030             31468080           337.939  1992
3          60200  74031             31468080           339.953  1966
4          60200  74032             31468088           340.115  1881
0          60600  74033             38703616           326.251  1881
1          60600  74034             38703616           324.709  1881
2          60600  74035             38703616           324.507  1992
3          60600  74036             38703616           324.303  1966
4          60600  74037             38703616           326.908  1881
0          61000  74038             56857392           557.017  1881
1          61000  74039             56857392           558.020  1881
2          61000  74040             56857392           558.935  1992
3          61000  74041             56857392           555.710  1966
4          61000  74042             56857392           560.318  1881

[315 rows x 5 columns]