In [2]:
import MySQLdb
import sys
import bz2
import pandas as pd

In [3]:
# Virtual machine IP adress
HOST            = "148.60.11.195"

## MySQL user
DB_USER         = "script2"

## MySQL password
DB_PASSWD       = "ud6cw3xNRKnrOz6H"

In [4]:
#-------------------- Get sets of identical configs and save result Dataframe ---------------------
try:
    socket = MySQLdb.connect(HOST, DB_USER, DB_PASSWD, "IrmaDB_result")
    cursor = socket.cursor()
    # firstly select the "basis" config files
    query="SELECT cid, config_file, compiled_kernel_size, compilation_time, hid FROM `compilations` where compiled_kernel_version='4.15' and cid%400=0 and cid<72000"
    cursor.execute(query)
    result= cursor.fetchall()
    result=[list(i) for i in result]
    df = pd.DataFrame()
    # For each of the previously found cid (i.e our sample), we need to find the entries 
    # which have used the same .config file
    for row in result:
        query2="SELECT cid, compiled_kernel_size, compilation_time, hid FROM compilations \
                WHERE config_file = \
                    (SELECT config_file FROM compilations WHERE cid={})\
                    and cid!={}".format(row[0], row[0])
        cursor.execute(query2)
        matches=cursor.fetchall()
        # dumb conversion tuple -> list for format issues
        matches=[list(i) for i in matches]
        for i in matches:
            i.insert(0, row[0])
        labels=[i[0] for i in cursor.description]
        labels.insert(0, 'origin_config')
        temp=pd.DataFrame(matches, columns=labels)
        df=df.append(temp)
    df.to_pickle('results_latest_2')
except Exception as e:
    print(str(e),"\n" + "Unable to connect to database", file=sys.stderr)
    exit(-1)
finally:
    cursor.close()
    socket.close()
df

   origin_config    cid compiled_kernel_size  compilation_time   hid
0          30200  74043            106632848           422.508  1881
1          30200  74044            106632848           423.235  1881
2          30200  74045            106632848           424.158  1881
3          30200  74046            106632848           422.291  1881
4          30200  74047            106632848           425.372  1881
0          30600  74048            231143736           260.940  1881
1          30600  74049            231145256           261.516  1881
2          30600  74050            231146176           262.388  1881
3          30600  74051            231142664           261.586  1881
4          30600  74052            231144528           262.498  1881
0          31000  74053             28113552           179.035  1881
1          31000  74054             28113552           178.890  1881
2          31000  74055             28113552           179.789  1881
3          31000  74056             28113552           179.128  1881
4          31000  74057             28113552           194.784  1881
0          31400  74058             53153472           329.910  1881
1          31400  74059             53153472           328.158  1881
2          31400  74060             53153472           330.387  1881
3          31400  74061             53153472           328.349  1881
4          31400  74062             53153472           327.665  1881
0          31800  74063            152092144           387.240  1881
1          31800  74064            152092144           388.511  1881
2          31800  74065            152092144           386.593  1881
3          31800  74066            152092144           387.730  1881
4          31800  74067            152092144           389.555  1881
0          32200  74068             28356144           258.743  1881
1          32200  74069             28356144           256.808  1881
2          32200  74070             28356144           258.350  1881
3          32200  74071             28356144           260.853  1881
4          32200  74072             28356144           259.463  1881
..           ...    ...                  ...               ...   ...
0          59000  74013             94471552           345.039  1881
1          59000  74014             94471552           344.292  1881
2          59000  74015             94471552           345.011  1992
3          59000  74016             94471552           345.470  1966
4          59000  74017             94471552           345.993  1881
0          59400  74018            133308064           333.148  1881
1          59400  74019            133308064           332.587  1881
2          59400  74020            133308064           331.245  1992
3          59400  74021            133308064           332.329  1966
4          59400  74024            133308064           332.276  1881
0          59800  74022             99092768           331.695  1881
1          59800  74023             99092800           326.007  1881
2          59800  74025             99093432           331.795  1992
3          59800  74026             99092888           328.073  1966
4          59800  74029             99093432           327.382  1881
0          60200  74027             31468008           341.456  1881
1          60200  74028             31468088           339.567  1881
2          60200  74030             31468080           337.939  1992
3          60200  74031             31468080           339.953  1966
4          60200  74032             31468088           340.115  1881
0          60600  74033             38703616           326.251  1881
1          60600  74034             38703616           324.709  1881
2          60600  74035             38703616           324.507  1992
3          60600  74036             38703616           324.303  1966
4          60600  74037             38703616           326.908  1881
0          61000  74038             56857392           557.017  1881
1          61000  74039             56857392           558.020  1881
2          61000  74040             56857392           558.935  1992
3          61000  74041             56857392           555.710  1966
4          61000  74042             56857392           560.318  1881

[380 rows x 5 columns]