In [1]:
import sys
import pandas as pd
import matplotlib

In [2]:
# Results of 100 different .config compilations using kernel_generator.py
def get_df_tuxml(exp):
    
    df=pd.read_pickle("../Exp{}/DF{}_kernel_gen".format(exp, exp))
    #df=pd.read_pickle('../analysis/results_latest_2')

    df=df.sort_values(by=['compiled_kernel_size'])
    df2=df.groupby(['origin_config']).agg({'compilation_time':['mean', 'std'], 'compiled_kernel_size':'first'})
    #print(df2.to_string())
    #print(df2)

    df3=pd.DataFrame({'origin_config': df2.index,
                      'Time': df2[('compilation_time', 'mean')],
                      'Size': df2[('compiled_kernel_size', 'first')]})
    df3=df3.set_index('origin_config')
    
    return df3

In [3]:
# Results of the same 100 .config compilations with the "native" method this time
def get_df_native(exp):
    
    with open("../Exp{}/sample{}_native.txt".format(exp, exp), "r") as f:
        res=list()
        #Parsing
        for line in f:
            time=float(line.split("ELAPSEDTIME ")[1].split(" vmlinux size :")[0])
            if(line.split(" vmlinux size :")[1]!='\n'):
                size=int(line.split(" vmlinux size :")[1].strip('\n').strip(' '))
            else:
                size=None
            original=int(line.split(".config")[0][-5:])
            res.append([original, time, size])

        #Dataframe creation
        df1=pd.DataFrame(res, columns = ['origin_config', 'Time', 'Size'])
        #df1.to_pickle('DF2_native')

        df2=df1.groupby(['origin_config']).agg({'Time':['mean', 'std'], 'Size':'mean'})
        df3=pd.DataFrame({'origin_config': df2.index,
                          'Time': df2[('Time', 'mean')],
                          'Size': df2[('Size', 'mean')]})
        df3=df3.set_index('origin_config')
        #print(df3.to_string())
        return df3

In [4]:
def get_df(exp, nature):
    #get_df(1, tuxml) for 1st exp with tuxml
    #get_df(2, native) for 2nd exp with native
    if(nature=="tuxml"):
        df=get_df_tuxml(exp)
    elif(nature=="native"):
        df=get_df_native(exp)
    return df

df=get_df(1, "native")
print(df.to_string())

                   Time         Size
origin_config
30000          311.7458   46271960.0
30400          605.2034   28925824.0
30800          508.6970   99332603.2
31200          546.2142   34301440.0
31600          848.8710   47860944.0
32000          291.8302   21648808.0
32400          658.3678   51112968.0
32800          415.1456   75296792.0
33200          395.2614  143218864.0
33600          543.5856  453572944.0
34000          183.9154   32325552.0
34400          377.0220   95648024.0
34800          478.4378  164779448.0
35200          405.4016   76928256.0
35600          482.1846   69983536.0
36000          205.9464  165070820.8
36400          879.8382  124613648.0
36800          615.9098   18406392.0
37200          426.5924  258087540.8
37600          216.6574   38024816.0
38000          223.7722   30693249.6
38400          314.1286  251817496.0
38800          447.5220   35100440.0
39200          268.1912   28502160.0
39600          181.3206   53031504.0
40000          623.7566   60761792.0
40400          540.0660   42547152.0
40800          482.8874   91397112.0
41200          366.6320   32769448.0
41600          343.0296  118685360.0
42000          305.3772   23018328.0
42800          608.7798  115161968.0
43200          295.7252   43983616.0
43600          363.9634  132119304.0
44000          341.3238  108973545.6
44400          433.9260   41946424.0
44800          429.2990  225218724.8
45200          401.4292   51954928.0
45600          639.8894   97825680.0
46000          292.1588   55270680.0
46400          285.4406   57947328.0
46800          326.4726   48839856.0
47200          325.8208   49083264.0
47600          503.8336   87720640.0
48000          868.3910   43361408.0
48400          208.8922   36062283.2
48800          318.7248   90543152.0
49200          776.3824   39626784.0
49600          374.4640  167006275.2
50000          694.5652  111862288.0
50400          410.1716   59391896.0
50800          254.9570   35144176.0
51200          950.3438  223516928.0
51600          434.0324   49850592.0
52000          365.9456   90600368.0
52400          448.3018   30831552.0
52800          355.5408   88510240.0
53200          409.3662  117469648.0
53600          405.4774  195047027.2
54000          737.5940   89947360.0
54400          352.8896  107337664.0
54800          417.0938   57918544.0
55200          600.9958  142005438.4
55600          384.7560  126465160.0
56000          365.8692   73732712.0
56400          729.5454   44064480.0
56800          323.6140   43368400.0
57200          910.9798   42062792.0
57600          461.5628  170456384.0
58000          398.1502  353693728.0
58400          738.0966   34103888.0
58800          430.0798   70243688.0
59200          284.3646   37942248.0
59600          453.5318   78271112.0
60000          246.6834   55540576.0
60400          249.7000   33288408.0
60800          435.2276   81967584.0
61200          317.1596  562785940.8
61600          305.2320   67658792.0
62000          238.3072   34593096.0
62400          603.8788   72339233.6
62800          309.0088   62942368.0
63200          274.1922   36322792.0
63600          494.6082  123229835.2
64000          542.5606  143383364.8
64400          344.8828  153394272.0
64800          430.7334   74657668.8
65200          486.8282   90116296.0
65600          488.5370   64467856.0
66000          361.5918   24863640.0
66400          437.4496  858239977.6
66800          292.2982   42631368.0
67600          222.6266   51973264.0
68000          370.3648   54902680.0
68400          462.7976   83876120.0
68800          704.4608  137197776.0
69200          322.9432   28148104.0
69600          367.3140  160797766.4
70000          230.4564   32294336.0
70400          279.8438   93732408.0
70800          528.2392   38951561.6
71200          434.9416   68455904.0
71600          516.5298   82398448.0
72000          304.3370   53850528.0
72400          338.2722  166838110.4
72800          301.1228   51332577.6

In [5]:
df.corr()

          Time      Size
Time  1.000000  0.053235
Size  0.053235  1.000000

In [26]:
df1_native = get_df(1, "native")
df1_tuxml = get_df(1, "tuxml")
df2_native = get_df(2, "native")
df2_tuxml = get_df(2, "tuxml")

In [27]:
print(df1_native.corr()) 
print(df1_tuxml.corr())

print(df2_native.corr()) 
print(df2_tuxml.corr())

          Time      Size
Time  1.000000  0.053235
Size  0.053235  1.000000
          Time      Size
Time  1.000000  0.066963
Size  0.066963  1.000000
          Time      Size
Time  1.000000  0.231085
Size  0.231085  1.000000
          Time      Size
Time  1.000000  0.282267
Size  0.282267  1.000000

In [30]:
# df1_native['Time'] - df1_tuxml['Time']
# df1_native[['Size', 'Time']] - df1_tuxml[['Size', 'Time']]
#df1_native

                  Size      Time
origin_config
30000              0.0   1.22680
30400              0.0   1.79040
30800            907.2   1.21980
31200              0.0  -1.08620
31600              0.0   1.60200
32000              0.0   1.43700
32400              0.0   1.05140
32800              0.0   9.97860
33200              0.0  -2.55420
33600              0.0 -51.37560
34000              0.0  -6.99020
34400              0.0  -9.68080
34800              0.0  -4.35480
35200              0.0  -3.44700
35600              0.0  -6.70900
36000            236.8  -1.60120
36400          -4872.0  -4.21180
36800              0.0   1.35080
37200          18540.8  -0.75040
37600              0.0  -0.51500
38000           1713.6  -0.39700
38400              0.0  -3.41120
38800              0.0  -0.22640
39200              0.0  -1.55800
39600              0.0  -0.48520
40000              0.0  15.00720
40400              0.0  11.67040
40800              0.0  16.41060
41200              0.0  10.31600
41600           1272.0  11.56840
...                ...       ...
60800              0.0  -1.07140
61200           3508.8  15.71380
61600              0.0  16.54640
62000              0.0   6.75340
62400           4937.6  15.19040
62800              0.0  10.93260
63200              0.0   6.82920
63600          47659.2   1.91600
64000            116.8  17.63880
64400              0.0   8.28400
64800             44.8  -4.20640
65200              0.0   6.92880
65600              0.0   3.53020
66000              0.0   2.67740
66400         -14222.4 -11.48540
66800              0.0  -2.98560
67600              0.0  -1.19080
68000              0.0  -5.32280
68400              0.0  -5.32700
68800              0.0  -6.01120
69200              0.0  -2.20755
69600              NaN       NaN
70000              NaN       NaN
70400              NaN       NaN
70800              NaN       NaN
71200              NaN       NaN
71600              NaN       NaN
72000              NaN       NaN
72400              NaN       NaN
72800              NaN       NaN

[106 rows x 2 columns]

In [25]:
df1_tuxml[:10]

                   Time       Size
origin_config
30000          310.5190   46271960
30400          603.4130   28925824
30800          507.4772   99331696
31200          547.3004   34301440
31600          847.2690   47860944
32000          290.3932   21648808
32400          657.3164   51112968
32800          405.1670   75296792
33200          397.8156  143218864
33600          594.9612  453572944